@media screen and (max-width: 768px) {
    .search-box {
        flex-direction: column;
        width: 100% !important;
    }

    .input1 {
        width: 100%;
        margin: 15px 0;
    }

    .btn {
        width: 100%;
    }

    .search-btn {
        width: 100%;
    }
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

.job-card:hover .icon {
    background: #1DBF73;
    transition: .3s;
}


.slick-dots li.slick-active {
    width: 20px !important;
    background: #1DBF73 ;
}
.slick-dots li {
    margin: 0 5px ;
    width: 8px !important;
    height: 8px !important;
    background: #bfc8cb ;
    border-radius: 10px ;
    transition: all .3s ease ;
}
.slick-dots li button {
    font-size: 0 ;
    line-height: 0 ;
    display: block ;
    padding: 5px ;
    color: transparent ;
    border: 0 ;
    outline: none ;
    background: transparent ;
}
.slick-dots li, .slick-dots li button {
    width: 20px ;
    height: 20px ;
    cursor: pointer;
}
.slick-dots li button {
    padding: 0 ;
}
.slick-dots li {
    position: relative ;
    display: inline-block ;
    padding: 0 ;
}
.slick-dots li button:before{
    font-size: 0px !important;
}
.slick-dots {
    bottom: -50px !important;
}
.slick-slide {
    /* margin-left:27px !important; */
    padding: 0 20px;
  }

  /* the parent */
  .slick-list {
    margin-left:-27px !important;
  }

  /* -------------- footer ---------- */
  .footer-box {
    margin-left: -10px;
    max-width: 1324px;
    margin-right: -34px;
  }
  @media screen and (max-width: 768px) {
    .footer-box {
        padding: 0 40px;
    }
  }
  @media screen and (max-width: 600px) {
    .footer{
        flex-direction: column-reverse;        
    }
    .footer-icon {
        margin-bottom: 10px;
    }
  }
  .hidden-button {
    /* display: none !important; */
    bottom: -44px !important;
  }

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: 500px !important;
    width: 100%;
  }
  .css-1kjo7z6-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 20px !important;
    /* font-weight: 600 !important; */
  }