@media screen and (max-width: 768px) {
    .search-box {
        flex-direction: column;
        width: 100% !important;
    }
    .input1 {
        width: 100%;
        margin: 15px 0;
    }
    .btn {
        width: 100%;       
    }
    .search-btn {
        width: 100%;
    }
}
.swiper-wrapper
{
  transition-timing-function: linear !important;
}

.job-card:hover .icon {
    background: #1DBF73;
    transition: .3s;
}
/* */
/* .css-lgpdd7-MuiPaper-root-MuiCard-root {
    box-shadow: none !important;
    border: 1px solid #e3f8e2;
}
.css-lgpdd7-MuiPaper-root-MuiCard-root:hover {
    box-shadow: 0 6px 15px rgba(64,79,104,.05) !important;
    border: 1px solid #e3f8e2;
} */